option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: TaxPaasServer/django-app/taxpaas/wsgi.py
    NumProcesses: 3
    NumThreads: 20

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: taxpaas.settings
    PYTHONPATH: /opt/python/current/app/TaxPaasServer/django_app:$PYTHONPATH
    LANG: "ko_KR.utf8"
    LC_ALL: "ko_KR.UTF-8"
    LC_LANG: "ko_KR.UTF-8"

  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "collected_static/"

container_commands:
  01wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python TaxPaasServer/django_app/manage.py collectstatic --noinput"
  03_migrate:
    command: "source /opt/python/run/venv/bin/activate && python TaxPaasServer/django_app/manage.py migrate --noinput"
  04_createsu:
    command: "source /opt/python/run/venv/bin/activate && python TaxPaasServer/django_app/manage.py createsu"
    leader_only: true

